:root {
  --primery-text-color: #595959;
  --primery-color: #ffffff;
  --secondary-color: #ff6b08;
  --contacts-color: #afb3b9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;

  background-color: #f5f7fa;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: #000000;
}

dt {
  float: left;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
}

dt:after {
  content: ' . . . . . . . . . . . . . . . . . . . . . . . .';
  color: var(--primery-text-color);
  font-weight: 400;
}

dd {
  float: left;
  width: 450px;
  overflow: hidden;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--primery-color);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  width: 370px;
  min-height: 1800px;
  padding: 40px 0px;

  background-color: #1e2939;
}
.my-photo {
  width: 370px;
  margin-bottom: 60px;
}
.about-me {
  padding: 80px 90px;
}
.contacts-container,
.skills-container {
  margin-left: 40px;
}

.contacts-container,
.skills-container:not(:last-child) {
  margin-bottom: 60px;
}

.contacts-title,
.skills-title {
  margin-bottom: 20px;

  color: var(--primery-color);
  font-size: 22px;
  line-height: 1.09;
}
.contacts-link {
  display: flex;

  color: var(--contacts-color);
  font-weight: 400;
  text-decoration: none;
}

.contacts-list {
  list-style: none;
}

.contacts-item:not(:last-child) {
  margin-bottom: 5px;
}

.contacts-link > svg {
  margin-right: 10px;
}

.skills-item {
  margin-left: 13px;

  color: var(--secondary-color);
  font-weight: 400;
}
.skills-name {
  color: var(--contacts-color);
}
.front-end-title {
  margin-bottom: 20px;
}
.my-name {
  margin-bottom: 20px;

  font-size: 45px;
  line-height: 1.98;
}
.summary {
  color: var(--primery-text-color);
  font-weight: 400;
}
.info-container {
  margin-bottom: 65px;
}
.projects-container,
.work-container,
.education-container {
  margin-bottom: 50px;
}

.projects-title,
.work-title,
.education-title {
  margin-bottom: 10px;

  font-size: 22px;
  line-height: 1.09;
}
.projects-list {
  margin-left: 17px;
}
.projects-item {
  color: var(--primery-text-color);
}

.projects-link {
  color: var(--primery-text-color);
  font-weight: 400;
}

.projects-skills {
  color: var(--primery-text-color);
  font-weight: 400;
}

.company-container:not(:last-child) {
  margin-bottom: 30px;
}
.work-position {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.5;
}
.company-name {
  color: var(--secondary-color);
}

.working-time,
.working-location {
  margin: 15px 0px;

  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
.working-time::after {
  content: '|';
}

.responsibility-item {
  margin-left: 18px;

  color: var(--primery-text-color);
  font-weight: 400;
}

.university-container:not(:last-child) {
  margin-bottom: 20px;
}

.university-name {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
}
.position-name {
  margin-top: 15px;
}

.certificates-container {
  height: 550px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
